button {
    margin-top: 10px;
}

#light {
    background-color: #000;
    box-shadow: 0 0 5px rgba(0,0,0, .8);
    overflow: hidden;
    padding: 0 0 4px;
    width: 120px;
}

#light span {
    border-radius: 50px;
    display: block;
    height: 100px;
    margin: 4px auto 0;
    /*opacity: .5;*/
    width: 100px;
    background-color: #FFF;
}

#light span p {
  margin: auto;
  padding: 0;
  top: 40px;
  position: relative;
  text-align: center;
  
}